body{
    margin: 0px;
    padding:  0px;
    background-image: url(./assets/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%vh;

}


.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: white;
    background-color: black;
    /* align-items: center; */
   
}
img[alt="logo"]{
    height: 30px;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    position: absolute;
    left: 400px;
    align-items: center;
    top: 1px;
}
.button-small{
    color: white;
    background-color: palevioletred;
    padding: 10px 10px;
    position: absolute;
    font-size: 15px;
    border-radius: 10px;
    align-items: center;
    top: 7px;
    right: 100px;
}
.hero-heading{
    font-size: 70px;
    color: white;
    right: 400px;
    position: absolute;
    top: 150px;
    font-weight: 800px;
}
.hero-description{
    position: absolute;
    right: 480px;
    top: 350px;
    color: white;
    font-size: 25px;
    font-weight: 500px;
}
.button-large{
    font-size: 20px;
    color: white;
    background-color:rgb(165, 33, 114);
    border-radius: 10px;
    border: 0px;
    position: absolute;
    bottom: 100px;
    right: 620px;
    padding: 20px 10px;
}